.side-collapsed() {
  @{menu-item} {
    i + span {
      display: none;
    }
  }
  overflow-y: hidden;
}

.side-expanded() {
}

.side-expanded-full() {
}

.side-hovered() {
}

.side-focused() {

}

.side-open-style() {
  border-radius: 100%;
  margin: 0.4rem;
  .box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  background-color: @color-primary;
  i {
    color: @color-white;
  }
}

.side-open-left-style() {
  bottom: 0;
  right: 0;
  margin: 0 1.4rem 0.7rem 0;
}
.side-open-right-style() {
  top: 0;
  right: 0;
}
.side-open-top-style() {
  top: 0;
  left: 0;
}
.side-open-bottom-style() {
  bottom: 0;
  left: 0;
}

& when(@include-core-layout-side = true) {
  .@{side-backdrop} {
    background-color: @side-backdrop-color;
    opacity: @side-backdrop-opacity;
  }
  .@{side-close} {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  @{side} {
    background-color: darken(@color-primary, 10);
    color: #fff;
    @{menu-item} {
      i {
        font-size: 1.2rem;
        margin-right: 0.5em;
      }
    }
  }
}
