.side-margin(@n, @i: 1) when (@i =< @n) {
  &.@{width}-@{i} {
    &.@{side-left} {
      ~ .@{body-content} {
        margin-left: unit(((@layout-width/@layout-steps)*@i), px);
      }
    }
    &.@{side-right} {
      ~ .@{body-content} {
        margin-right: unit(((@layout-width/@layout-steps)*@i), px);
      }
    }
  }
  &.@{height}-@{i} {
    &.@{side-top} {
      ~ .@{body-content} {
        margin-top: unit(((@layout-height/@layout-steps)*@i), px);
      }
    }
    &.@{side-bottom} {
      ~ .@{body-content} {
        margin-bottom: unit(((@layout-height/@layout-steps)*@i), px);
      }
    }
  }
  .side-margin(@n, (@i + 1));
}

.@{side-collapse} {
  &:checked {
    + .@{side} {
      .side-collapse();
      &.@{side-animated} {
        &.@{side-left}, &.@{side-right} {
          transition: width @side-animate-time;
        }
        &.@{side-top}, &.@{side-bottom} {
          transition: height @side-animate-time;
        }
        
        ~ .@{body-content} {
          transition: margin @side-animate-time;
        }
      }
      &:not(@{side-cover}) {
        &.@{side-left} {
          ~ .@{body-content} {
            margin-left: @side-collapse-width;
          }
        }
        &.@{side-right} {
          ~ .@{body-content} {
            margin-right: @side-collapse-width;
          }
        }
        &.@{side-top} {
          ~ .@{body-content} {
            margin-top: @side-collapse-height;
          }
        }
        &.@{side-bottom} {
          ~ .@{body-content} {
            margin-bottom: @side-collapse-height;
          }
        }
      }

      &.@{side-left}, &.@{side-right} {
        width: @side-collapse-width;
      }
      
      &.@{side-top}, &.@{side-bottom} {
        height: @side-collapse-height;
      }
      &.@{side-hoverable}:hover, &.@{side-focusable}:focus {
        .side-opened();
        &.@{side-left}, &.@{side-right} {
          .and-width(@layout-steps);
        }
        
        &.@{side-top}, &.@{side-bottom} {
          .and-height(@layout-steps);
        }
      }
      &.@{side-focusable}.@{side-focus-backgrop}:focus {
        + .@{side-backdrop} {
          display: block;
        }
      }
      &.@{side-hoverable}.@{side-hover-backgrop}:hover {
        + .@{side-backdrop} {
          display: block;
        }
      }
    }
  }
  + .@{side} {
    &.@{side-cover} {
      &.@{side-left} {
        ~ .@{body-content} {
          margin-left: @side-collapse-width;
        }
      }
      &.@{side-right} {
        ~ .@{body-content} {
          margin-right: @side-collapse-width;
        }
      }
      &.@{side-top} {
        ~ .@{body-content} {
          margin-top: @side-collapse-height;
        }
      }
      &.@{side-bottom} {
        ~ .@{body-content} {
          margin-bottom: @side-collapse-height;
        }
      }
    }
  }
}

.@{side-hide} {
  &:checked {
    + .@{side}.@{side-hoverable} {
      display: block;
      &:not(:hover) {
        &.@{side-left}, &.@{side-right} {
          width: @side-hoverable-offset;
          opacity: 0;
          overflow-x: hidden;
        }
        &.@{side-top}, &.@{side-bottom} {
          height: @side-hoverable-offset;
          opacity: 0;
          overflow-y: hidden;
        }
      }
      &:hover {
        .side-opened();
      }
    }
    + .@{side}:not(.@{side-hoverable}):not(:hover) {
      display: none;
      &.@{side-animated} {
        display: block;
        &.@{side-left}, &.@{side-right} {
          width: 0;
          overflow-x: hidden;
        }
        &.@{side-top}, &.@{side-bottom} {
          height: 0;
          overflow-y: hidden;
        }
      }
    }
    + .@{side} {
      &[class*="width-"] {
        &.@{side-left} {
          ~ .@{body-content} {
            margin-left: 0;
          }
        }
        &.@{side-right} {
          ~ .@{body-content} {
            margin-right: 0;
          }
        }
      }
      
      &[class*="height-"] {
        &.@{side-top} {
          ~ .@{body-content} {
            margin-top: 0;
          }
        }
        &.@{side-bottom} {
          ~ .@{body-content} {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.@{side-collapse}, .@{side-hide} {
  display: none;
  &:checked {
    + .@{side} + .@{side-backdrop} {
      display: none;
    }
  }
}

.@{side-full-height} {
  position: relative;
}

.@{side} {
  position: fixed;
  z-index: @side-index;
  + .@{side-backdrop} {
    position: fixed;
    background-color: @side-backdrop-color;
    opacity: @side-backdrop-opacity;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: @side-index - 1;
  }
  &:not(.@{side-cover}) {
    .side-margin(@layout-steps);
  }
  
  &.@{side-uncover-hover}.@{side-hoverable}:hover {
    .side-margin(@layout-steps);
  }
  &.@{side-uncover-focus}.@{side-focusable}:focus {
    .side-margin(@layout-steps);
  }
  &.@{side-overflow} {
    &:hover, &:focus {
      overflow-y: auto;
    }
    overflow-y: hidden;
  }
  &.@{side-animated} {
    &.@{side-left}, &.@{side-right} {
      transition: width @side-animate-time;
    }
    &.@{side-top}, &.@{side-bottom} {
      transition: height @side-animate-time;
    }
    ~ .@{body-content} {
      transition: margin @side-animate-time;
    }
  }
  &.@{side-absolute} {
    &.@{side-left}, &.@{side-right} {
      position: absolute;
      top: 0;
      bottom: auto;
      height: auto;
      min-height: 100%;
      max-height: 100%;
    }
  }
  &.@{side-float} {
    &.@{side-right} {
      float: right;
    }
    &.@{side-left} {
      float: left;
    }
  }
  &.@{side-relative} {
    &.@{side-left}, &.@{side-right} {
      position: relative;
    }
    &.@{side-right} {
      float: right;
    }
    &.@{side-left} {
      float: left;
    }
  }
  &.@{side-left}, &.@{side-right} {
    top: 0;
    bottom: 0;
    max-height: 100%;
    height: 100%;
    will-change: width;
  }
  &.@{side-left} {
    left: 0;
    right: auto;
  }
  
  &.@{side-right} {
    right: 0;
    left: auto;
  }
  
  &.@{side-top}, &.@{side-bottom} {
    left: 0;
    right: 0;
    width: 100%;
    will-change: height;
  }
  
  &.@{side-top} {
    top: 0;
    bottom: auto;
  }
  
  &.@{side-bottom} {
    bottom: 0;
    top: auto;
  }
}
