.tooltip-arrow-top {
  position: absolute;
  top: -@tootltip-arrow-height;
  left: 0;
  content: "";
  width: 0; 
  height: 0; 
  border-left: @tootltip-arrow-height solid transparent;
  border-right: @tootltip-arrow-height solid transparent;
  border-top: @tootltip-arrow-height solid @tooltip-background;
  margin-left: @tootltip-arrow-height + @tootltip-arrow-offset;
}

.tooltip-arrow-bottom {
  position: absolute;
  bottom: -@tootltip-arrow-height;
  top: auto;
  left: 0;
  content: "";
  width: 0; 
  height: 0;
  border-top: @tootltip-arrow-height solid transparent;
  border-bottom: @tootltip-arrow-height solid @tooltip-background;
  margin-left: @tootltip-arrow-height + @tootltip-arrow-offset;
}

.tooltip-arrow-center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {
  background: @tooltip-background;
  padding: @tooltip-padding;
  color: @tooltip-text-color;
  max-width: @tootltip-max-width;
  min-width: @tootltip-min-width;
  border-radius: @tootltip-border-radius;
  bottom: 100%;
  left: 0;
  position: absolute;
  margin-bottom: @tootltip-arrow-height;
  &:before {
    .tooltip-arrow-top;
  }
  &.tooltip-bottom {
    bottom: auto;
    top: 100%;
    margin-top: @tootltip-arrow-height;
    &:before {
      .tooltip-arrow-bottom;
    }
  }
  
  &.tooltip-center {
    left: 50%;
    transform: translate(-50%, 0px);
    &:before {
      .tooltip-arrow-center;
    }
  }
  &.tooltip-right {
    left: auto;
    right: 0;
    &:before {
      .tooltip-arrow-center;
    }
  }
}

.has-tooltip[data-tooltip] {
  position: relative;
  &.is-absolute {
    position: absolute;
  }
  &.is-fixed {
    position: fixed;
  }
  &:hover, &[tabindex]:focus {
    &:after {
      .tooltip;
      content: attr(data-tooltip);
      display: block;
    }
    &:before {
      .tooltip-arrow-top;
    }
    &.tooltip-bottom {
      &:after {
        bottom: auto;
        top: 100%;
        margin-top: @tootltip-arrow-height;
      }
      &:before {
        .tooltip-arrow-bottom;
      }
    }
    &.tooltip-center {
      &:after {
        left: 50%;
        transform: translate(-50%, 0px);
      }
      &:before {
        .tooltip-arrow-center;
      }
    }
  }
}

.has-tooltip {
  position: relative;
  
  &.is-absolute {
    position: absolute;
  }
  &.is-fixed {
    position: fixed;
  }
  > .tooltip {
    display: none;
    &:before {
      top: 100%;
      bottom: auto;
      margin-bottom: -@tootltip-arrow-height;
    }
    &.tooltip-bottom {
      &:before {
        top: auto;
        bottom: 100%;
        margin-top: -@tootltip-arrow-height;
        margin-bottom: auto;
      }
    }
  }
  
  &:hover, &[tabindex]:focus {
    > .tooltip {
      display: block;
    }
  }
}

