.tooltip-arrow-top-left() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -@tooltip-arrow-height - @tooltip-distance;
  left: -@tooltip-offset;
  border-left: @tooltip-arrow-width solid transparent;
  border-right: @tooltip-arrow-width solid transparent;
  border-top: @tooltip-arrow-height solid @tooltip-background;
  border-bottom: 0;
  margin-left: @tooltip-arrow-offset;
}

.tooltip-arrow-top-right() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -@tooltip-arrow-height - @tooltip-distance;
  right: -@tooltip-offset;
  left: auto;
  border-left: @tooltip-arrow-width solid transparent;
  border-right: @tooltip-arrow-width solid transparent;
  border-top: @tooltip-arrow-height solid @tooltip-background;
  border-bottom: 0;
  margin-right: @tooltip-arrow-offset;
}

.tooltip-arrow-left() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  position: absolute;
  left: -@tooltip-arrow-height;
  top: 50%;
  bottom: auto;
  content: "";
  width: 0; 
  height: 0; 
  border-left: @tooltip-arrow-width solid transparent;
  border-right: @tooltip-arrow-height solid @tooltip-background;
  border-top: @tooltip-arrow-width solid transparent;
  border-bottom: 0;
  margin-top: @tooltip-arrow-offset;
}

.tooltip-arrow-right-middle() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  bottom: auto;
  content: "";
  width: 0; 
  height: 0;
  margin: -@tooltip-arrow-height 0 0 0;
  border-bottom: @tooltip-arrow-width solid transparent;
  border-right: @tooltip-arrow-height solid @tooltip-background;
  border-top: @tooltip-arrow-width solid transparent;
  border-left: 0;
}
.tooltip-arrow-left-middle() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  bottom: auto;
  content: "";
  width: 0; 
  height: 0;
  margin: -@tooltip-arrow-height 0 0 0;
  border-bottom: @tooltip-arrow-width solid transparent;
  border-left: @tooltip-arrow-height solid @tooltip-background;
  border-top: @tooltip-arrow-width solid transparent;
  border-right: 0;
}

.tooltip-arrow-bottom-left() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -@tooltip-arrow-height - @tooltip-distance;
  top: auto;
  left: 0;
  height: 0;
  border-top: 0;
  border-left: @tooltip-arrow-width solid transparent;
  border-right: @tooltip-arrow-width solid transparent;
  border-bottom: @tooltip-arrow-height solid @tooltip-background;
  margin-left: @tooltip-arrow-offset;
}

.tooltip-arrow-bottom-right() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -@tooltip-arrow-height - @tooltip-distance;
  top: auto;
  right: 0;
  left: auto;
  height: 0;
  border-top: 0;
  border-bottom: @tooltip-arrow-height solid @tooltip-background;
  margin-right: @tooltip-arrow-offset;
}

.tooltip-arrow-bottom-center() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -@tooltip-arrow-height - @tooltip-distance;
  top: auto;
  height: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-left: @tooltip-arrow-width solid transparent;
  border-right: @tooltip-arrow-width solid transparent;
  border-top: 0;
  border-bottom: @tooltip-arrow-height solid @tooltip-background;
}

.tooltip-arrow-center() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-left: @tooltip-arrow-width solid transparent;
  border-right: @tooltip-arrow-width solid transparent;
}

.tooltip-core() {
  background: @tooltip-background;
  padding: @tooltip-padding;
  color: @tooltip-text-color;
  max-width: @tooltip-max-width;
  min-width: @tooltip-min-width;
  border-radius: @tooltip-border-radius;
  bottom: calc(100% ~"+" @tooltip-distance);
  left: 0;
  position: absolute;
  margin-bottom: @tooltip-arrow-height;
}

.@{tooltip} {
  .tooltip-core;
  &.@{tooltip-top}, &:not(.@{tooltip-bottom}) {
    left: -@tooltip-offset;
    &:before {
      .tooltip-arrow-top-left;
      left: 0; 
      bottom: auto;
      top: 100%;
      margin-bottom: auto;
    }
  }
  &.@{tooltip-top-right} {
    left: auto;
    right: -@tooltip-offset;
    &:before {
      .tooltip-arrow-top-right;
      bottom: auto;
      top: 100%;
      right: 0;
      margin-bottom: auto;
    }
  }
  &.@{tooltip-center} {
    left: 50%;
    transform: translate(-50%, 0);
    &:before {
      .tooltip-arrow-center;
      bottom: auto;
      top: 100%;
      margin-bottom: auto;
    }
  }
  &.@{tooltip-bottom} {
    bottom: auto;
    top: calc(100% ~"+" @tooltip-distance);
    margin-top: @tooltip-arrow-height;
    &:before {
      .tooltip-arrow-bottom-left;
      top: auto;
      bottom: 100%;
      left: 0;
      margin-top: -@tooltip-arrow-height;
      margin-bottom: auto;
    }
  }
  &.@{tooltip-bottom-right} {
    bottom: auto;
    top: calc(100% ~"+" @tooltip-distance);
    right: 0;
    left: auto;
    margin-top: @tooltip-arrow-height;
    &:before {
      .tooltip-arrow-bottom-right;
      top: auto;
      bottom: 100%;
      right: 0;
      margin-top: -@tooltip-arrow-height;
      margin-bottom: auto;
    }
  }
  
  &.@{tooltip-bottom-center} {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: auto;
    top: calc(100% ~"+" @tooltip-distance);
    margin-top: @tooltip-arrow-height;
    &:before {
      .tooltip-arrow-bottom-center;
      top: auto;
      bottom: 100%;
      margin-top: -@tooltip-arrow-height;
      margin-bottom: auto;
    }
  }
  &.@{tooltip-right-middle} {
    top: 50%;
    bottom: auto;
    left: calc(100% ~"+" @tooltip-distance);
    transform: translate(0, -50%);
    margin-left: @tooltip-arrow-height;
    &:before {
      .tooltip-arrow-right-middle;
      margin-left: -@tooltip-arrow-height;
    }
  }
  &.@{tooltip-left-middle} {
    top: 50%;
    bottom: auto;
    right: calc(100% ~"+" @tooltip-distance);
    left: auto;
    transform: translate(0, -50%);
    margin-right: @tooltip-arrow-height;
    &:before {
      .tooltip-arrow-left-middle;
      right: 0;
      left: auto;
      margin-right: -@tooltip-arrow-height;
    }
  }
  
  &.@{tooltip-right-top} {
    top: -@tooltip-offset - @tooltip-arrow-height/2;
    bottom: auto;
    left: calc(100% ~"+" @tooltip-distance);
    margin-left: @tooltip-arrow-height;
    &:before {
      .tooltip-arrow-right-middle;
      bottom: auto;
      top: @tooltip-arrow-offset + @tooltip-arrow-height;
      margin-left: -@tooltip-arrow-height;
    }
  }
  &.@{tooltip-right-bottom} {
    top: auto;
    bottom: -@tooltip-offset - @tooltip-arrow-height/2;
    left: calc(100% ~"+" @tooltip-distance);
    margin-left: @tooltip-arrow-height;
    margin-bottom: 0;
    &:before {
      .tooltip-arrow-right-middle;
      bottom: @tooltip-arrow-offset;
      top: auto;
      margin-left: -@tooltip-arrow-height;
    }
  }
  &.@{tooltip-left-top} {
    top: -@tooltip-offset - @tooltip-arrow-height/2;
    bottom: auto;
    right: calc(100% ~"+" @tooltip-distance);
    left: auto;
    margin-right: @tooltip-arrow-height;
    &:before {
      .tooltip-arrow-left-middle;
      bottom: auto;
      right: 0;
      left: auto;
      top: @tooltip-arrow-offset + @tooltip-arrow-height;
      margin-right: -@tooltip-arrow-height;
    }
  }
  &.@{tooltip-left-bottom} {
    top: auto;
    bottom: -@tooltip-offset - @tooltip-arrow-height/2;
    right: calc(100% ~"+" @tooltip-distance);
    left: auto;
    margin-right: @tooltip-arrow-height;
    margin-bottom: 0;
    &:before {
      .tooltip-arrow-left-middle;
      bottom: @tooltip-arrow-offset;
      top: auto;
      right: 0;
      left: auto;
      margin-right: -@tooltip-arrow-height;
    }
  }
}

.@{has-tooltip}[data-tooltip] {
  position: relative;
  &.@{tooltip-absolute} {
    position: absolute;
  }
  &.@{tooltip-fixed} {
    position: fixed;
  }
  &:hover, &[tabindex]:focus {
    &:after {
      .tooltip-core;
      content: attr(data-tooltip);
      display: block;
      z-index: 0;
    }
    &.@{tooltip-top}, &:not(.@{tooltip-bottom}) {
      &:after {
        left: -@tooltip-offset;
        bottom: calc(100% ~"+" @tooltip-distance);
      }
      &:before {
        .tooltip-arrow-top-left;
      }
    }
    &.@{tooltip-top-right} {
      &:after {
        left: auto;
        right: -@tooltip-offset;
        bottom: calc(100% ~"+" @tooltip-distance);
      }
      &:before {
        .tooltip-arrow-top-right;
      }
    }
    &.@{tooltip-bottom} {
      &:after {
        bottom: auto;
        top: calc(100% ~"+" @tooltip-distance);
        margin-top: @tooltip-arrow-height;
      }
      &:before {
        .tooltip-arrow-bottom-left;
      }
    }
    &.@{tooltip-bottom-right} {
      &:after {
        left: auto;
        right: 0;
        bottom: auto;
        top: calc(100% ~"+" @tooltip-distance);
        margin-top: @tooltip-arrow-height;
      }
      &:before {
        .tooltip-arrow-bottom-right;
      }
    }
    &.@{tooltip-right} {
      &:after {
        left: auto;
        right: -@tooltip-offset;
        bottom: calc(100% ~"+" @tooltip-distance);
      }
      &:before {
        .tooltip-arrow-top-right;
      }
    }
    &.@{tooltip-center} {
      &:after {
        left: 50%;
        transform: translate(-50%, 0px);
        bottom: calc(100% ~"+" @tooltip-distance);
      }
      &:before {
        .tooltip-arrow-center;
      }
    }
    &.@{tooltip-bottom-center} {
      &:after {
        left: 50%;
        transform: translate(-50%, 0px);
        bottom: auto;
        top: calc(100% ~"+" @tooltip-distance);
        margin-top: @tooltip-arrow-height;
      }
      &:before {
        .tooltip-arrow-bottom-center;
      }
    }
    &.@{tooltip-right-middle} {
      &:after {
        top: 50%;
        bottom: auto;
        left: calc(100% ~"+" @tooltip-arrow-height + @tooltip-distance);
        transform: translate(0, -50%);
      }
      &:before {
        .tooltip-arrow-right-middle;
        left: calc(100% ~"+" @tooltip-distance);
        right: auto;
      }
    }
    &.@{tooltip-left-middle} {
      &:after {
        top: 50%;
        bottom: auto;
        right: calc(100% ~"+" @tooltip-arrow-height + @tooltip-distance);
        left: auto;
        transform: translate(0, -50%);
      }
      &:before {
        .tooltip-arrow-left-middle;
        right: calc(100% ~"+" @tooltip-distance);
        left: auto;
      }
    }
    &.@{tooltip-right-top} {
      &:after {
        top: -@tooltip-offset - @tooltip-arrow-height/2;
        bottom: auto;
        left: calc(100% ~"+" @tooltip-arrow-height + @tooltip-distance);
      }
      &:before {
        .tooltip-arrow-right-middle;
        left: calc(100% ~"+" @tooltip-distance);
        right: auto;
        top: -@tooltip-arrow-height/2 + @tooltip-arrow-offset - @tooltip-offset;
        margin: 0;
      }
    }
    &.@{tooltip-right-bottom} {
      &:after {
        top: auto;
        bottom: -@tooltip-arrow-height - @tooltip-arrow-height/2 - @tooltip-offset;
        left: calc(100% ~"+" @tooltip-arrow-height + @tooltip-distance);
      }
      &:before {
        .tooltip-arrow-right-middle;
        left: calc(100% ~"+" @tooltip-distance);
        right: auto;
        top: auto;
        bottom: -@tooltip-arrow-height/2 + @tooltip-arrow-offset - @tooltip-offset;
      }
    }
    &.@{tooltip-left-top} {
      &:after {
        top: -@tooltip-offset - @tooltip-arrow-height/2;
        bottom: auto;
        right: calc(100% ~"+" @tooltip-arrow-height + @tooltip-distance);
        left: auto;
      }
      &:before {
        .tooltip-arrow-left-middle;
        left: auto;
        right: calc(100% ~"+" @tooltip-distance);
        top: -@tooltip-arrow-height/2 + @tooltip-arrow-offset - @tooltip-offset;
        margin: 0;
      }
    }
    &.@{tooltip-left-bottom} {
      &:after {
        top: auto;
        bottom: -@tooltip-arrow-height - @tooltip-arrow-height/2 - @tooltip-offset;
        right: calc(100% ~"+" @tooltip-arrow-height + @tooltip-distance);
        left: auto;
      }
      &:before {
        .tooltip-arrow-left-middle;
        left: auto;
        right: calc(100% ~"+" @tooltip-distance);
        top: auto;
        bottom: -@tooltip-arrow-height/2 + @tooltip-arrow-offset - @tooltip-offset;
      }
    }
  }
}

.@{has-tooltip} {
  position: relative;
  
  &.@{tooltip-absolute} {
    position: absolute;
  }
  &.@{tooltip-fixed} {
    position: fixed;
  }
  > .@{tooltip} {
    display: none;
  }
  
  &:hover, &[tabindex]:focus {
    > .@{tooltip} {
      display: block;
    }
  }
}

