.tab-nav-active() {
  background: @tab-nav-active-background;
  border: @tab-nav-active-border;
  color: @tab-nav-active-color;
  box-shadow: @tab-nav-active-shadow;
}

.@{tabs} {
  .@{tab-navs} {
    label[for] {
    }
  }
  &.@{tabs-as-table} {
    .@{tab-navs} {
      table-layout: fixed;
    }
  }
}
