.select-open-content() {
}

.select-disabled-content() {
  &:after {
    opacity: 0.5;
  }
  > * {
    opacity: 0.5;
  }
}

.select-readonly-content() {
}

.select-close-content() {
  label, .@{select-placeholder} {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.select-multi-selected-item() {
  border: @input-default-border-width solid gray;
  border-radius: @input-default-border-radius - 2px;
  padding: 0 0.3em;
}

.select-multi-selected-item-close() {
  content: "×";
  font-size: 0.8em;
  margin-left: 0.3em;
  vertical-align: text-top;
}

.select-option-selected() {
  background-color: black;
  color: white;
}

.select-option-selected-hovered() {
  background-color: navy;
  color: white;
}

.select-option() {
  background-color: white;
  color: black;
}

.select-option-hovered() {
  background-color: blue;
  color: white;
}

.@{select} {
  max-width: 550px;
  .@{select-content} {
    display: inline-block;
    background-color: #fff;
    > * {
      .box-sizing(border-box);
    }
  }
}
