.@{background-colors} {
  .for(@colors); .-each(@name) {
    &-@{name} {
      &.@{background-colors-hoverable}:hover {
        background-color: ~"@{background-color-hover-@{name}}";
      }
      background-color: ~"@{background-color-@{name}}";
    }
  }
}

.@{text-colors} {
  .for(@colors); .-each(@name) {
    &-@{name} {
      color: ~"@{text-color-@{name}}" !important; 
    }
  }
}

.@{border-colors} {
  .for(@colors); .-each(@name) {
    &-@{name} {
      border-color: ~"@{border-color-@{name}}" !important; 
    }
  }
}
