@button: button;

// Grid:
@grid: grid;
@cell: cell;
@row: row;


@chart: chart;
@dropdown: dropdown;

// Forms:
@form: form;
@label: label;
@control: control;
@info: info;

@table: table;

@modal: modal;

// Tabs:
@tabs: tabs;
@tab: tab;

//Accordion:
@accordion: accordion;
@accordion-label: label;
@accordion-content: content;

@tooltip: tooltip;
