@button: button;


// Helper visible
@display-none: display-none;
@hide: hide;
@display-block: display-block;
@show: show;
@display-inline-block: display-inline-block;
@display-inline: display-inline;
@display-table: display-table;
@display-table-cell: display-table-cell;
@display-flex: display-flex;
@display-inline-flex: display-inline-flex;
@hidden: hidden;
@visible: visible;
@text-hide: text-hide;

@print-hide: print-hide;
@print-show: print-show;
@not-screen-hide: not-screenhide;
@not-screen-show: not-screenshow;
@braille-hide: braille-hide;
@braille-show: braille-show;
@speech-hide: speech-hide;
@speech-show: speech-show;
@tv-hide: tv-hide;
@tv-show: tv-show;


// Helper align
@text-center: text-center;
@text-right: text-right;
@text-left: text-left;

@float-right: text-right;
@float-left: text-left;

// Grid:
@grid: grid;
@cell: cell;

@row: row;
@column: column;  // set cell as column
@column-force: column-force;  // force set all child cell as column
@column-wrap: column-wrap; // set row and cell as column - stay width

@reverse: reverse; // reverce order
@release: release;

@gutter: gutter; // horizontal space between cell
@gutter-margin: gutter-margin;
@space: space; // vertical space between cell
@space-margin: space-margin;
@around: around; //set space/gutter also in first and last cell/row

@nowrap: nowrap;
@floating: floating;


@justify-center: justify-center;
@justify-around: justify-around;
@justify-between: justify-beteen;
@justify-start: justify-start;
@justify-end: justify-end;

@vertical-center: vertical-center;
@vertical-start: vertical-start;
@vertical-end: vertical-end;

@vertical-items-center: vertical-items-center;
@vertical-items-streach: vertical-items-streach;
@vertical-items-start: vertical-items-start;
@vertical-items-end: vertical-items-end;

@items-center: items-center;
@items-streach:items-streach;
@items-start: items-start;
@items-end: items-end;


// Rensposive dimention
@m: m;
@mp: mp;
@t: t;
@tp: tp;

@offset: offset;
@offset-left: offset-left;
@offset-right: offset-right;
@under: under;


@width: width;
@height: height;

@width-geo: width-geo;
@height-geo: height-geo;

@margin: margin;
@margin-top: margin-top;
@margin-bottom: margin-bottom;
@margin-left: margin-left;
@margin-right: margin-right;
@margin-horizontal: margin-horizontal;
@margin-vertical: margin-vertical;

@padding: padding;
@padding-top: padding-top;
@padding-bottom: padding-bottom;
@padding-left: padding-left;
@padding-right: padding-right;
@padding-horizontal: padding-horizontal;
@padding-vertical: padding-vertical;

@active: active;

@chart: chart;
@dropdown: dropdown;
@dropdown-content: dropdown-content;
@dropdown-focusable: focusable;
@dropdown-top: top;
@dropdown-left: left;
@dropdown-right: right;

// Forms:
@form: form;
@label: label;
@control: control;
@info: info;

@table: table;
@flex: flex;

// Modal:
@modal: modal;
@modal-wrapper: modal-wrapper;
@modal-window: modal-window;
@modal-footer: modal-footer;
@modal-header: modal-header;
@modal-content: modal-content;
@modal-close: modal-close;
@modal-backdrop: modal-backdrop;
@modal-animated: animated;
@modal-open: modal-open;
@modal-opened: modal-opened;
@modal-centered: centered;

// Tabs:
@tabs: tabs;
@tab: tab;
@tab-navs: tab-navs;
@tab-pages: tab-pages;
@tab-space: space;
@tab-space-around: space-around;
@tab-space-between: space-between;
@tabs-as-table: as-table;

// Accordion:
@accordions: accordions;
@accordion: accordion;
@accordion-label: label;
@accordion-content: content;
@accordion-collapsible: accordion-collapsible;
@accordion-label-hide: label-hide;
@accordion-horizontal: horizontal;
@accordion-focusable: focusable;
@accordion-animated: animated;
@accordion-hoverable: hoverable;
@accordion-arrow: arrow;

// Tooltip:
@tooltip: tooltip;
@has-tooltip: has-tooltip;
@tooltip-bottom: bottom;
@tooltip-bottom-right: bottom-right;
@tooltip-bottom-center: bottom-center;
@tooltip-top: top;
@tooltip-top-right: right;
@tooltip-center: center;
@tooltip-right: right;
@tooltip-right-middle: right-middle;
@tooltip-left-middle: left-middle;
@tooltip-right-top: right-top;
@tooltip-right-bottom: right-bottom;
@tooltip-left-top: left-top;
@tooltip-left-bottom: left-bottom;
@tooltip-hoverable: hoverable; // tooltip not hide when try hover on it (arrow will be not work with data-tooltip)
@tooltip-hovered: hovered; // simulate :hover state to active tooltip manualy
@tooltip-absolute: absolute;
@tooltip-fixed: fixed;

// Popup:
@popup: popup;
@has-popup: has-popup;
@popup-bottom: bottom;
@popup-bottom-right: bottom-right;
@popup-bottom-center: bottom-center;
@popup-top: top;
@popup-top-right: right;
@popup-center: center;
@popup-right: right;
@popup-right-middle: right-middle;
@popup-left-middle: left-middle;
@popup-right-top: right-top;
@popup-right-bottom: right-bottom;
@popup-left-top: left-top;
@popup-left-bottom: left-bottom;
@popup-hoverable: hoverable;
@popup-active: active;
@popup-absolute: absolute;
@popup-fixed: fixed;
@popup-manual: manual;
@popup-header: popup-header;
@popup-footer: popup-footer;
@popup-content: popup-content;

// Side:
@side: .side; // tag 'aside' or class or both
@side-top: top;
@side-bottom: bottom;
@side-left: left;
@side-right: right;
@side-collapse: side-collapse;  // sidebar will be collapsed - set expand on ready (unchecked)
@side-expand: side-expand;   // sidebar will be expand - set collapse on ready (unchecked)
@side-hide: side-hide; // sidebar will be hide - set expand on ready (unchecked)
@side-hide-expand: side-hide-expand; // sidebar will be expand - set hide on ready (unchecked)
@side-backdrop: side-backdrop;
@side-animated: animated;
@side-hoverable: hoverable;
@side-hover-backgrop: hover-backdrop;
@side-focusable: focusable;
@side-focus-backgrop: focus-backdrop;
@side-cover: cover;
@side-uncover-hover: uncover-hover;
@side-uncover-focus: uncover-focus;
@side-overflow: overflow;
@side-absolute: absolute;
@side-relative: relative;
@side-float: float;
@side-full-height: side-full-height;
@side-expanded-hide: expanded-hide;
@side-expanded-show: expanded-show;
@side-collapsed-hide: collapsed-hide;
@side-collapsed-show: collapsed-show;

// Layout
@content-holder: content-holder;
@body-content: body-content;

@center-vertically: center-vertically;
@horizontally: horizontally;

// Layout Header:
@header: header; // tag 'header' or class or both

// Layout Footer:
@footer: footer; // tag 'header' or class or both

// Description list:
@dd: dd; // tag 'dd' or class or both
@dt: dt; // tag 'dt' or class or both
@dl: dl; // tag 'dl' or class or both

@dl-horizontally: horizontally;
@dl-horizontally-collapse: collapse;
@dl-title-colon: title-colon;
@dl-size: size;
@dl-space: space;

// Menu
@menu: ul.menu; // tag 'ul' or class or both
@menu-inside: ul;
@menu-item: li; // tag 'li' or class or both

// Icons
@icon: icon;
@icon-position: before; // before or after
@menu-item-anchor: a; // tag 'a' or class and tag

// select
@select: select;
@select-content: select-content;
@select-hide-selected: hide-selected;
@select-hoverable: hoverable;
@select-placeholder: placeholder;
@select-active: active;
@select-disabled: disabled;
@select-readonly: readonly;
