@body-font-family: "Arial";
@body-font-size: 13px;
@font-family: "Roboto";

@base-unit: rem;
@base-steps: 16;

// Modals
@modal-zindex: 10000;
@modal-width: 90%;
@modal-top: 8%;
@modal-min-height: 300px;
@modal-max-width: 650px;
@modal-background-color: #fff;
@modal-border-color: #222;
@modal-border: 1px solid @modal-border-color;
@modal-header-background: @modal-border-color;


@button-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
@button-padding: 2px 5px;
@button-font: @body-font-family @body-font-size;

@tab-nav-active-background: #222;
@tab-nav-active-color: #fff;
@tab-nav-active-border: 0 none;
@tab-nav-active-shadow: none;

@tooltip-background: rgba(0, 0, 0, 0.8);
@tooltip-text-color: #fff;
@tooltip-padding: 18px 20px;
@tooltip-max-width: 300px;
@tooltip-min-width: 150%;
@tooltip-border-radius: 10px;
@tooltip-arrow-height: 10px;
@tooltip-arrow-width: @tooltip-arrow-height;
@tooltip-arrow-offset: 20px;
@tooltip-offset: @tooltip-arrow-offset;
@tooltip-distance: 10px;

@popup-background: rgba(0, 0, 0, 0.8);
@popup-text-color: #fff;
@popup-padding: 3px 5px;
@popup-max-width: 300px;
@popup-min-width: 150%;
@popup-border-radius: 3px;
@popup-arrow-height: 5px;
@popup-arrow-offset: 5px;

@accordion-animated-max-height: 200vh;
@accordion-animated-time: 1s;

@side-animate-time: 1s;
@side-hoverable-offset: 5px;
@side-index: 10000;
@side-backdrop-color: rgba(0, 0, 0, 1);
@side-backdrop-opacity: 0.5;

@chart-height: 100px;
@chart-ring-width: 10px;
@chart-color: green;
@chart-background: red;
@chart-value-font-size: 20px;
@chart-value-color: @chart-background;
@chart-parent-background: inherit;

@grid-steps: @base-steps;
@grid-gutter-start: 2;
@grid-gutter-max: 10;
@grid-gutter-unit: @base-unit;
@grid-gutter-step: 0.1;
@grid-space-start: 2;
@grid-space-max: 10;
@grid-space-unit: @base-unit;
@grid-space-step: 0.1;


@content-max-width: 1128px;
@content-min-margin: 10px;

@content-max-height: 600px;

@desctop-max-width: 1280px;
@tablet-max-width: 1024px;
@tablet-portrait-max-width: 768px;
@mobile-max-width: 568px;
@mobile-portrait-max-width: 320px;

@input-padding-vertical: 0.35em;
@input-padding-horizontal: 0.5em;

@side-collapse-width: @content-max-width/@base-steps;
@side-collapse-height: @content-max-height/@base-steps;